body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	color: #000;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}


*html body {
  overflow-y: hidden;
}

body > div#menu {position:fixed;}
body > div#kopf {position:fixed;}
body > div#streifen1 {position:fixed;}


img {
  border:0px;
}

a:link {
	color: #666;
	text-decoration: none;
	text-transform: none;
}

a:visited {
	color: #000;
	text-decoration: none
}

a:active {
	color: #000;
	text-decoration: none
}

a:hover {
	color: #999;
	text-decoration: none;
}

h1 {
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
	font-style: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

h2 {
  margin:0px 0px 10px 0px;
  font-size:12px;
  color:#999;
}

.style1 {
  color: #CCCCCC;
  font-size: 11px;
}

.grau {
  color: #999999;
}

.style2 {
  float:left;
  font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11px;
  color:#333;
}

/* .style15 {
  font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #666666
  font-size: 12px;
} */

.style17 {
  color: #333333
}

.style18 {
  font-size: 11px
}

.autor{
  margin-bottom:10px;
  font-style:italic;
  font-size:11px;
  margin-left:270px;
}

.bildtitel {
  margin-top:5px;
  font-size:9px;
  line-height:11px;
}

.haupttext  {
  color:#666;
  margin-top: 0px;
  margin-left: -480px;
  width:900px;
  float:left;
  font-size:11px;
  line-height:18px;
}

.pictureGrid {
	color: #666;
	margin-top: 100px;
	margin-left: 150px;
	width: 880px;
	float: right;
	font-size: 11px;
	line-height: 18px;
}

.haupttext_spalte  {
	color: #000;
	margin-left: 60px;
	width: 260px;
	float: left;
	font-size: 11px;
	text-align: left;
	line-height: 18px;
	margin-top: 4px;
}

.haupttext_index  {
	margin-left: 60px;
	width: 330px;
	float: left;
	text-align: left;
	line-height: 18px;
	font-size: 12px;
}

.haupttext_spalte_front  {
  color:#666;
  margin-left: 30px;
  width: 170px;
  float:left;
  font-size:11px;
  line-height:18px;
}

.haupttext_front  {
	color: #000;
	margin-right: 0px;
	margin-left: 60px;
	float: left;
	font-size: 11px;
	line-height: 18px;
	margin-top: 6px;
}

.haupttext_roomportraits  {
  margin-top: -100px;
  margin-left: 30px;
  float:left;
  font-size:11px;
  line-height:18px;
}

#container {
	width: 1200px;
	height: 925px;
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 100px;
	position: relative;
}

#myname {
	margin-top: 55px;
	margin-left: 0px;
	width: 1100px;
	height: 85px;
	/* align: center; */
	background-color: #fff;
	float: left;
}

#streifen1 {
  position:absolute;
  top:100px;
  left:0px;
  width:100%;
  height:40px;
  background-color:#FFF;
  filter:alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.5;
}

#menu {
	width: 140px;
	float: left;
	margin-left: 0;
	margin-top: 0;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	line-height: 2em;
	z-index: 10;
	padding-right: 0px;
	padding-bottom: 600px;
	padding-left: 0px;
	color: #CCC;
}

#menu ul {
  padding:0px;
  margin:0px;
  margin-top:27px;
  list-style-type:none;
}

#menu ul a{
  padding-right:10px;
  display:block;

}

#menu ul a:hover{
  background-color:#fff;
}

#inhalt {
	margin-top: 0px;
	float: left;
	z-index: 1;
}

*html #inhalt {
  position:relative;
  padding-top:40px;
  padding-left:180px;
}

.bildbox01 {
  width:190px;
  margin:0px 10px 10px 0px;
  float:left;
}

.pictureBox02 {

	width: 100px;
	float: left;
	margin-top: 6px;
	margin-right: 46px;
	margin-bottom: 40px;
	margin-left: 10px;
}

.bildbox03 {
  width:90%;
  height:310px;
  margin:10px 10px 20px 0px;
  float:left;
}

.bildbox04 {
  width:90%;
  height:170px;
  margin:10px 10px 20px 0px;
  float:left;
}

.bildbox05 {
  width:70%;
  margin:10px 10px 20px 0px;
  float:left;
}
